.container {
  max-width: 975px;
  margin: 50px auto auto;
}
/* Morning, Day and Night Mode Styles */
.morning {
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  color: #000;
}
.day {
  background-image: linear-gradient(to top, #90e0ef 0%, #fff 100%);

  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.day h1 {
  color: #03045e;
}

.day h2 {
  color: #90e0ef;
  font-size: 24px;
}
.day h5 {
  color: #03045e;
}

.day h6 {
  color: #00b4d8;
}
.day .temp-rain {
  color: #03045e;
}

.morning #current-time {
  color: #000;
}
.morning #hourly-forecast-display h4 {
  color: #000;
}

.morning .wind-conditions h2 {
  color: #000;
}

.night {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.night h1,
h2 {
  color: #fff;
}
.night h2 {
  font-size: 24px;
}
.night #coded-by {
  color: #000;
}
.night .temp-rain .active {
  color: #fff;
  cursor: default;
}
