/* Forecast Display */
.card {
  background-color: rgba(255, 255, 255, 0.3);
}

.card:hover {
  background: rgba(255, 255, 255, 0.5);
}

#hourly-forecast-display h4 {
  color: #03045e;
}
.morning #hourly-forecast-display h4 {
  color: #000;
}
.forecast-container {
  margin: 0 auto;
  max-width: 975px;
  text-align: center;
  position: relative;
  top: -25px;
}
