button {
  background: none;
  border: none;
  color: #03045e;
}
button.click {
  border: none;
  color: #03045e;
}
button.hover {
  border: none;
  color: #03045e;
  cursor: pointer;
}

#cels-convert,
#fahr-convert,
#convert-slash {
  font-size: 18px;
}

#cels-convert-active {
  font-weight: bold;
  font-size: 18px;
}

#fahr-convert-active {
  font-weight: bold;
  font-size: 18px;
}
