/*Temperature, City and Time Display*/

.icon-display {
  position: relative;
  top: 30px;
  right: 10px;
}

.temp-rain {
  text-align: right;
  position: relative;
  top: -25px;
}

.temp-rain .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.temp-rain .active:hover {
  text-decoration: none;
}

.wind-conditions h2 {
  text-align: right;
  position: relative;

  font-size: 18px;
}
