/*Search area*/

.btn-light:hover {
  background: #e1e6ea;
}
.search-bar {
  margin: 25px 0 0 0;
  padding: 0;
  color: #03045e;
}
#city-input {
  width: 80%;
}
#locate-me-button {
  text-align: right;
  margin: 25px 0 0 0;
}
#search-area {
  position: relative;
  top: -50px;
}
#submit-button {
  position: relative;
  top: -2px;
  left: 60px;
}
